<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <wPluginsSettings>
    <AutoStart type="boolean">false</AutoStart>
    <SurveyComplete type="boolean">true</SurveyComplete>
  </wPluginsSettings>
  <wApplyMorph>
    <AutoStart type="boolean">false</AutoStart>
  </wApplyMorph>
  <wMorphScale>
    <AutoStart type="boolean">false</AutoStart>
  </wMorphScale>
  <wAverageVertexPosition>
    <AutoStart type="boolean">false</AutoStart>
  </wAverageVertexPosition>
  <wMergeMaterials>
    <AutoStart type="boolean">false</AutoStart>
  </wMergeMaterials>
  <wBackup>
    <AutoStart type="boolean">false</AutoStart>
    <StoreSettings type="boolean">true</StoreSettings>
    <AutoBackup type="boolean">false</AutoBackup>
    <AutoBackupPeriod type="integer">120</AutoBackupPeriod>
    <NotificationAuto type="boolean">true</NotificationAuto>
    <NotificationManual type="boolean">false</NotificationManual>
    <BackupPathAbsolute type="boolean">false</BackupPathAbsolute>
    <BackupPath type="text">backup</BackupPath>
    <BackupNaming type="integer">0</BackupNaming>
  </wBackup>
  <wObjIO>
    <MetricUnits type="boolean">false</MetricUnits>
    <FlipFaces type="boolean">false</FlipFaces>
    <SwapYZ type="boolean">false</SwapYZ>
    <UniformScale type="boolean">false</UniformScale>
    <XScale type="decimal">1.0</XScale>
    <YScale type="decimal">1.0</YScale>
    <ZScale type="decimal">1.0</ZScale>
    <MirrorX type="boolean">false</MirrorX>
    <MirrorY type="boolean">false</MirrorY>
    <MirrorZ type="boolean">false</MirrorZ>
    <MirrorU type="boolean">false</MirrorU>
    <MirrorV type="boolean">false</MirrorV>
    <WithBone type="boolean">true</WithBone>
  </wObjIO>
</settings>